@import 'assets/scss/_variables.scss';

.toggleCover {
	position: relative;
}

.positions {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.btn {
	position: relative;
	top: 50%;
	width: 55px;
	height: 30px;
	overflow: hidden;
	border-radius: 100px;
	&__checkbox {
		position: relative;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		opacity: 0;
		cursor: pointer;
		z-index: 3;
		&:checked + .btn__knobs:before {
			top: -28px;
		}
		&:checked + .btn__knobs:after {
			top: 4px;
		}
		&:checked ~ .btn__layer {
			background-color: $green;
		}
	}
	&__layer {
		composes: positions;
		width: 100%;
		background-color: $red;
		transition: 0.3s ease all;
		z-index: 1;
		border-radius: 100px;
	}
	&__knobs {
		composes: positions;
		z-index: 2;
		&:before,
		&:after {
			position: absolute;
			top: 4px;
			left: 5px;
			width: 22px;
			height: 22px;
			color: transparent;
			font-size: 10px;
			font-weight: bold;
			text-align: center;
			line-height: 1;
			background-color: $white;
			border-radius: 50%;
			transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
		}

		&:before {
			content: 'YES';
		}

		&:after {
			content: 'NO';
			top: -28px;
			right: 4px;
			left: auto;
		}
	}
}
